div#login-container  
  div.col-md-3
  div.col-md-6
    div.panel.panel-default
      div.panel-heading Reset Your Password
      div.panel-body
        div#formContainer
          div#alertContainer
          form(role="form", ng-controller="forgotPasswordCntrl", method="POST", id="forgotPasswordForm")
            div.form-group
              label.control-label(for="emailaddress") Email Address
              input.form-control(type="text", id="emailaddress", placeholder="Email Address", ng-model="data.username", name="username")
              span.control-label.help-block 
                small
            div.form-group
              button.btn.btn-primary.btn-block(type="button", ng-click="submit()") Submit
  div.col-md-3
script(type='text/javascript', src='/js/loginCntrl.js')