doctype html
html(lang="en", ng-app)
  head
    title= pageTitle
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
    div.row!= body

    script(type='text/javascript', src='http://code.jquery.com/jquery-2.0.3.min.js')
    script(type='text/javascript', src='http://code.jquery.com/ui/1.10.3/jquery-ui.min.js')
    script(type='text/javascript', src='/js/libs/angular.min.js')
    script(type='text/javascript', src='/js/libs/bootstrap.min.js')