div#login-container  
  div.col-md-3
  div.col-md-6
    div.panel.panel-default
      div.panel-heading Reset Your Password
      div.panel-body
        div#formContainer
          div#alertContainer
          form(role="form", ng-controller="resetPasswordCntrl", method="POST", id="resetPasswordForm")
            div.form-group
              label.control-label(for="newPassword") New Password
              input.form-control(type="password", id="newPassword", placeholder="New Password", ng-model="data.newPassword", name="newPassword")
              span.control-label.help-block 
                small
            div.form-group
              label.control-label(for="verifyNewPassword") Verify New Password
              input.form-control(type="password", id="verifyNewPassword", placeholder="Verify New Password", ng-model="data.verifyNewPassword", name="verifyNewPassword")
              span.control-label.help-block 
                small
            div
              input(type="hidden", name="username", value="#{username}")
              input(type="hidden", name="resetCode", value="#{resetCode}")
            div.form-group
              button.btn.btn-primary.btn-block(type="button", ng-click="submit()") Submit
  div.col-md-3
script(type='text/javascript', src='/js/loginCntrl.js')